body {
  background-image: url("../resources/img/bg-default.jpg");
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.attribution-default {
  visibility: visible;
}

.attribution-logo {
  visibility: visible;
}

.attr-container {
  display: flex;
  flex-direction: row;
  font-size: small;
  margin-left: 1rem;
  width: fit-content;
}

.attribution-mobile {
  display: none;
}
.attribution-tablet {
  display: none;
}
.attribution-smdesktop {
  display: none;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  background-color: rgb(169, 181, 204);
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url("../resources/img/bg-mobile.jpg");
  }

  .attribution-mobile {
    display: contents;
  }

  .attribution-default {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url("../resources/img/bg-tablet.jpg");
  }
  .attribution-tablet {
    display: contents;
  }
  .attribution-default {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-image: url("../resources/img/bg-smdesktop.jpg");
  }
  .attribution-smdesktop {
    display: contents;
  }

  .attribution-default {
    display: none;
  }
}

.header {
  display: flex;
  background-color: #d8d8d8;
}

.navlink{
  color: aliceblue;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
}

